ul, ol {
    padding-left: 1em;
    margin-block: 0;

    li {
        &:not(:last-of-type) {
            margin-bottom: .5rem;
        }
        padding-left: var(--spacing-normal);

        &::marker {
            font-weight: var(--fw-bold);
        }
    }
}

ol li::marker {
    color: rgb(var(--clr-primary));
}