:root {
    --clr-primary: 133, 70, 50; // Brandy Red
    --clr-secondary: 243, 229, 215; // Eggshell
    --clr-accent: 122, 40, 78; // Dark raspberry
    --clr-base: 95, 86, 77; // Wenge Brown
    --clr-dark: 49, 46, 44; // Dark Charcoal
    --clr-light-900: 255, 255, 255; // White
    --clr-light-800: 227, 221, 215; // White coffee

    --fs-lg: 2.5rem;
    --fs-md: 1.75rem;
    --fs-sm: 1.25rem;
    --fs-normal: 1rem; 

    --fw-bold: 700;
    --fw-semi-bold: 600;
    --fw-regular: 400;

    --lh-1: 1;
    --lh-2: 1.5;

    --spacing-xxs: .75rem;
    --spacing-normal: 1rem;
    --spacing-xs: 1.5rem;
    --spacing-sm: 1.75rem;
    --spacing-md: 2rem;
    --spacing-lg: 2.5rem;
    --spacing-xl: 3.75rem;

    --ff-main: 'Outfit', sans-serif;
    --ff-accent: "Young Serif";
}